.binary-toggle {
	display:inline-block; border:1px solid $grey; background:#fff; @include border-radius(2px);
	.btoggle {
		width:50%; display:block; float:left; position:relative; margin:0; white-space:nowrap;
		> input {display:inline-block; vertical-align:middle; margin-top:0;}
		&:first-child label {margin-right:1em;}
		label {
			cursor:pointer; text-transform:uppercase; display:inline; font-size:14px; padding:0; margin:0;
			&.on {color:$darkest-green;}
			&.off {color:$red;}
		}
	}
	@include clear-fix;
}

html.js-ready .binary-toggle {
	max-width:180px;
	.btoggle {
		label {
			text-align:center; display:block; line-height:30px; padding:0 1em;
		}
		&:first-child label {margin:0;}
		.enhanced-radio.selected {
			+ label {
				margin-top:-1px; cursor:default;
				@include border-radius(2px); color:#fff; background-color:$orange; @include box-shadow(0 2px 0 shade($orange, 10%)); display:block; @include transition(background 0.3s ease);
				&.on {background-color:$green; @include box-shadow(0 2px 0 shade($green, 30%)); @include text-shadow(); margin-left:-1px;}
				&.off {background-color:$red; @include box-shadow(0 2px 0 shade($red, 30%)); margin-right:-1px;}
			}
			&, input {cursor:default;}
		}
		> .enhanced-radio {position:absolute; @include opacity(0);}
	}
}