.binary-toggle {
	background:$light-grey; @include border-radius(5px);
	.btoggle {
		width:50%; display:block; float:left; position:relative; margin:0; white-space:nowrap;
		> input {display:inline-block; vertical-align:middle; margin-top:0;}
		&:first-child label {margin-right:1em;}
		label {
			cursor:pointer; display:inline; padding:0; margin:0; font-weight:700;
		}
	}
	@include clear-fix;
}

html.js-ready .binary-toggle {
	max-width:250px; height:36px;
	.btoggle {
		label {
			text-align:center; display:block; line-height:36px; height:36px; padding:0 1em;
		}
		&:first-child label {margin:0;}
		.enhanced-radio.selected {
			+ label {
				margin-top:-2px; cursor:default; line-height:40px; height:40px;
				@include border-radius(5px); color:#fff; display:block;
				&.man {background-color:$blue; margin-left:-1px;}
				&.woman {background-color:$peach; margin-right:-1px;}
			}
			&, input {cursor:default;}
		}
		> .enhanced-radio {position:absolute; @include opacity(0);}
	}
}