.partner-superfluous {
	height:0px;
	visibility:hidden;
	overflow:hidden;
}

.scorecard-cont {
	position:relative;
	.loading {
		position:absolute;
		top:30%;
		left:50%;
		margin-left:-15px;
	}
}

.scorecard {
	&.hide {
		visibility:hidden;
	}
}