html.has-no-svg .svg-profile-man-38x38 { background-image: url('assets/img/pngfallbacks/profile-man-38x38.png'); background-repeat: no-repeat; }

html.has-no-svg .svg-profile-woman-38x38 { background-image: url('assets/img/pngfallbacks/profile-woman-38x38.png'); background-repeat: no-repeat; }

html.has-no-svg .svg-rings-dark-76x65 { background-image: url('assets/img/pngfallbacks/rings-dark-76x65.png'); background-repeat: no-repeat; }

